{{ define "main" }}
	{{ partial "header.html" . }}

<div class="row wrapper">

	<!-- Start Main Page Content -->
	<section role="main">

		<!-- Top Color Strip -->
		<div class="row top-strip"></div>

		<div class="row content">
			<div class="large-8 columns main" id="left-col">

			<!-- Post Content -->
				<article class="group">
                    {{ if .Title }}
					    <h2>{{ .Title }}</h2>
						<div class="meta">
							<span class="meta-publish-date">
								<i class="material-icons">schedule</i><span class="published_on">{{ .Date.Format "January 2, 2006" }}</span>
							</span>
						</div>
	
						<div>
							{{ .Content }}
						</div>
					{{ else }}
						<div>
							{{ .Content }}
						</div>
						<div class="meta">
							<span class="meta-publish-date">
								<i class="material-icons">schedule</i><span class="published_on">{{ .Date.Format "January 2, 2006" }}</span>
							</span>
						</div>
                    {{ end }}

					{{ if .Site.Params.include_conversation }}
						<script type="text/javascript" src="https://micro.blog/conversation.js?url={{ .Permalink }}"></script>
					{{ end }}
				</article>

            </div>
			
			{{ partial "sidebar.html" . }}

		</div>

		{{ partial "footer.html" }}

	</section>
	<!-- End Main Page Content -->

	<!-- Mobile Nav -->
	<section role="complementary">
		<div id="sideMenu" class="sidebar show-for-small"></div>
	</section>

</div>

{{ partial "footer-scripts.html" }}

</body>
</html>
{{ end }}