/*  Micro.blog specific styles */
#list_results p {
    margin-bottom: 10px;
}

#list_results p a {
    text-decoration: underline;
}

footer img.microicon { max-width: 12px; vertical-align: middle; }