<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="{{ "assets/js/foundation_4/javascripts/foundation/foundation.js" | relURL }}?{{ .Site.Params.theme_seconds }}"></script>
<script src="{{ "assets/js/foundation_4/javascripts/foundation/foundation.clearing.js" | relURL }}?{{ .Site.Params.theme_seconds }}></script>
<script src="{{ "assets/js/foundation_4/javascripts/foundation/foundation.cookie.js" | relURL }}?{{ .Site.Params.theme_seconds }}></script>
<script src="{{ "assets/js/foundation_4/javascripts/foundation/foundation.forms.js" | relURL }}?{{ .Site.Params.theme_seconds }}></script>
<script src="{{ "assets/js/foundation_4/javascripts/foundation/foundation.placeholder.js" | relURL }}?{{ .Site.Params.theme_seconds }}></script>
<script src="{{ "assets/js/foundation_4/javascripts/foundation/foundation.section.js" | relURL }}?{{ .Site.Params.theme_seconds }}></script>
<script src="{{ "assets/js/foundation_4/javascripts/foundation/jquery.offcanvas.js" | relURL }}?{{ .Site.Params.theme_seconds }}></script>

<script src="{{ "assets/js/blog.js" | relURL }}?{{ .Site.Params.theme_seconds }}"></script>