<!-- Footer -->
<div class="row">
    <footer>
        <div class="footer-links group hide-for-small">
            <a class="back-to-top" href="#top"><i class="material-icons">arrow_upward</i>Back to Top</a>
            <ul class="footer-nav">
                <li class="current"><a class="current" href="/" title="Go to homepage">Blog</a></li>
                {{ range .Site.Menus.main }}
                    {{ if .Page.Params.redirect_url }}
                        <li><a href="{{ .Page.Params.redirect_url }}">{{ .Name }}</a></li>
                    {{ else }}
                        <li><a href="{{ .URL | relLangURL | safeURL }}">{{ .Name }}</a></li>
                    {{ end }}
                {{ end }}
            </ul>
        </div>
        <div class="final group">
            {{ .Site.Params.description | safeHTML }} <br />
            <a href="https://micro.blog">Powered by Micro.blog</a> <img class="microicon" src="https://micro.blog/images/icons/web/icon.svg" width="12" height="12" />
        </div>
    </footer>
</div>