<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta content="{{ .Site.Author.name }}" name="author">

    <!-- Red Oak Stuff -->
    <meta name="microblog-theme" content="Red Oak 2021.1.0">
    <meta name="designer" content="Kyle Ruane and Colin Devroe">

    <title>
        {{- block "title" . -}}
        {{- .Site.Title -}}
        {{- if .Title }}
        - {{ .Title }}
        {{- end -}}
        {{- end -}}
    </title>

	<!-- Stylesheets -->
	<link rel="stylesheet" href="{{ "assets/js/foundation_4/stylesheets/normalize.css" | relURL }}?{{ .Site.Params.theme_seconds }}" />
	
    <link href="{{ "assets/css/style.css" | relURL }}?{{ .Site.Params.theme_seconds }}" rel="stylesheet">
    <link href="{{ "assets/css/microblog.css" | relURL }}?{{ .Site.Params.theme_seconds }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ "custom.css" | relURL }}?{{ .Site.Params.theme_seconds }}">

	<link rel="stylesheet" href="{{ "assets/css/offcanvas.css" | relURL }}?{{ .Site.Params.theme_seconds }}" />

    <!-- Google Fonts -->
	<link href='//fonts.googleapis.com/css?family=Alegreya:400italic,700italic,400,700' rel='stylesheet' type='text/css'>
	<link href='//fonts.googleapis.com/css?family=PT+Mono' rel='stylesheet' type='text/css'>
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    {{ if .Site.Params.brand_color }}
        {{ with .Site.Params.brand_color }}
		<style type="text/css">
			.top-strip { background: {{ . }}; }
			a, .content a, article .meta span a, section .meta span a, #sideNav a, #sideNav a:hover, footer a, a.back-to-top i { color: {{ . }}; }
			a:hover, .content a:hover, article .meta span a:hover, section .meta span a:hover { color: {{ . }}; border-bottom: 1px dotted {{ . }}; }
		</style>
        {{ end }}
	{{ end }}

    {{ "<!-- Microblog header begin-->" | safeHTML }}
    {{ partial "microblog_head.html" . }}
    <script src="{{ "assets/js/foundation_4/javascripts/vendor/custom.modernizr.js" | relURL }}?{{ .Site.Params.theme_seconds }}"></script>

</head>
