{{ if .Site.Params.paginate_home }}
    {{ $paginator := .Paginate (where .Data.Pages.ByDate.Reverse "Type" "post") }}
    {{ range $paginator.Pages }}
        <article class="h-entry">
            {{ if .Title }}
                <h2><a href="{{ .Permalink }}" title="Link to {{ .Title }}">{{ .Title }}</a></h2>
            {{ end }}
                <span class="e-content">{{ .Content }}</span>
                <div class="meta">
                    <span class="meta-publish-date">
                        <i class="material-icons">schedule</i><span class="dt-published"><a href="{{ .Permalink }}">{{ .Date.Format "January 2, 2006" }}</a></span>
                    </span>
                </div>
            
        </article>
    {{ end }}

    <!-- Paging -->
    <div class="paging group">
        <!-- previous -->
        {{ $pag := $.Paginator }}
            {{ if or $pag.HasPrev $pag.HasNext }}
                {{ if $pag.HasPrev }}
                    <a href="{{ $pag.Prev.URL }}" class="newer"><span title="Older Posts"><i class="material-icons">chevron_left</i></span></a>
                {{ end }}
            <!-- endprevious -->

            <!-- next -->
            {{ if $pag.HasNext }}
                <a href="{{ $pag.Next.URL }}" class="older"><span title="Newer Posts"><i class="material-icons">chevron_right</i></span></a>
            {{ end }}
            <!-- endnext -->
        {{ end }}
    </div>

    {{ else }}
        {{ $list := where .Data.Pages.ByDate.Reverse "Type" "post" }}
        {{ range $list  }}
            <article class="h-entry">
                {{ if .Title }}
                    <h2><a href="{{ .Permalink }}" title="Link to {{ .Title }}">{{ .Title }}</a></h2>
                {{ end }}
                    <div class="meta">
                        <span class="meta-publish-date">
                            <i class="material-icons">schedule</i><span class="dt-published"><a href="{{ .Permalink }}">{{ .Date.Format "January 2, 2006" }}</a></span>
                        </span>
                    </div>
                    <span class="e-content">{{ .Content }}</span>
            </article>
        {{ end }}
    {{ end }}