<!-- Sidebar -->
<div class="large-4 columns sidebar hide-for-small" id="right-col">
    <div id="sideNav">
    <div class="hide-for-small">
        <div class="sidebar-zone identity" id="identitySide">
            <span data-barley-editor="image" data-barley="sidebar_image">
                <a href="/"><img src="/images/sample_photo.jpg" class="photo"></a>
            </span>
            <!--<a class='current' href="index.html">-->
                <!-- Photo --><!--<img src="/images/sample_photo.jpg" class="photo"> -->
                <!-- Logo --><!--<img src="/images/logo.svg" width="160" height="160" class="logo"> -->
                <!-- Text --><!--<h1>Porta Amet</h1>-->
            <!--</a>-->
        </div>
    </div>
    <div class="sidebar-zone intro hide-for-small">
        <!-- notempty:redoak_index_title -->
        <h3 data-barley="redoak_index_title" data-barley-editor="mini">Red Oak</h3>
        <!-- endnotempty -->
        <!-- notempty:sidebar_about -->
        <div data-barley="sidebar_about" data-barley-editor="plus">
            <p>A responsive blogging theme built for Barley</p>
        </div>
        <!-- endnotempty -->
    </div>
    <div class="sidebar-zone search">
            <input type="search" name="searchtext" id="searchtext" placeholder="Search Posts..." class="searchtext" /><a href="#" id="searchbutton" class="searchbutton submit-button"><i class="barley-icon-circle-arrow-right"></i></a>
    </div>
    <div class="sidebar-zone nav-link-list">
        <h3>Pages</h3>
        <ul data-barley-navigation="left">
            <!-- barleynav -->
            <li class='current'><a class='current' href="index.html" title="Go to homepage">Blog</a></li>
            <li><a href="about.html" title="Go to About page">About</a></li>
            <li><a href="photos.html" title="Go to Photo Albums">Photo Albums</a></li>
            <!-- endbarleynav -->
        </ul>
    </div>
    <!-- notempty:redoak_sidebar_section_social -->
    <div class="sidebar-zone nav-list">
        <span data-barley="redoak_sidebar_section_social" data-barley-editor="advanced">
            <h3>Find Me On</h3>
            <ul>
                <li><a href="http://twitter.com/getbarley" title="Follow me on Twitter" rel="me">@getbarley</a></li>
                <li><a href="http://github.com/plainmade/" title="Follow me on GitHub" rel="me">github.com/plainmade</a></li>
            </ul>
        </span>
    </div>
    <!-- endnotempty -->

    <!-- notempty:redoak_sidebar_section_links -->
    <div class="sidebar-zone nav-list">
        <span data-barley="redoak_sidebar_section_links" data-barley-editor="advanced">
            <h3>Links</h3>
            <ul>
                <li><a href="http://plainmade.com/">Made by Plain</a></li>
                <li><a href="http://getbarley.com/">Powered by Barley</i></a></li>
            </ul>
        </span>
    </div>
    <!-- endnotempty -->
</div>
</div>
<!-- end Sidebar -->