<!-- Sidebar -->
<div class="large-4 columns sidebar hide-for-small" id="right-col">
    <div id="sideNav">
    <div class="hide-for-small">
        <div class="sidebar-zone identity" id="identitySide">
            <span>
                <a href="/"><img src="{{ .Site.Author.avatar }}" class="photo" /></a>
            </span>
            <!--<a class='current' href="index.html">-->
                <!-- Photo --><!--<img src="/images/sample_photo.jpg" class="photo"> -->
                <!-- Logo --><!--<img src="/images/logo.svg" width="160" height="160" class="logo"> -->
                <!-- Text --><!--<h1>Porta Amet</h1>-->
            <!--</a>-->
        </div>
    </div>
    <div class="sidebar-zone intro hide-for-small">
        <h3>{{ .Site.Title }}</h3>
        <p>
            {{ .Site.Params.description | safeHTML }}
        </p>
    </div>
    <div class="sidebar-zone search">
        <form onsubmit="return false;">
            <input type="search" name="q" id="input_search" onChange="runSearch(this.value.toLowerCase());" placeholder="Search Posts..." class="searchtext" /><a href="#" id="searchbutton" class="searchbutton submit-button"><i class="material-icons">arrow_right</i></a>
        </form>
    </div>
    <div class="sidebar-zone nav-link-list">
        <h3>Pages</h3>
        <ul>
            <li class="current"><a class="current" href="/" title="Go to homepage">Blog</a></li>
            {{ range .Site.Menus.main }}
                {{ if .Page.Params.redirect_url }}
                    <li><a href="{{ .Page.Params.redirect_url }}">{{ .Name }}</a></li>
                {{ else }}
                    <li><a href="{{ .URL | relLangURL | safeURL }}">{{ .Name }}</a></li>
                {{ end }}
            {{ end }}
        </ul>
    </div>
    <div class="sidebar-zone search_results">
        <div id="list_results">
        </div>
    </div>
    <!-- <div class="sidebar-zone nav-list">
        <span>
            <h3>Find Me On</h3>
            <ul>
                {{ with .Site.Params.twitter_username }}
                    <li><a href="https://twitter.com/{{ . }}"><i class="fab fa-twitter"></i></a></li>
                {{ end }}
                {{ with .Site.Params.linkedin_username }}
                    <li><a href="https://linkedin.com/{{ . }}"><i class="fab fa-linkedin"></i></a></li>
                {{ end }}
                {{ with .Site.Params.instagram_username }}
                    <li><a href="https://instagram.com/{{ . }}"><i class="fab fa-instagram"></i></a></li>
                {{ end }}
                {{ with .Site.Params.github_username }}
                    <li><a href="https://github.com/{{ . }}"><i class="fab fa-github"></i></a></li>
                {{ end }}
                {{ with .Site.Author.username }}
                    <li><a href="https://micro.blog/{{ . }}"><i class="fab fa-microblog"></i></a></li>
                {{ end }}
            </ul>
        </span>
    </div> -->
</div>
</div>
<!-- end Sidebar -->

<script language="javascript">

    var archive_results = {};
    
    function downloadArchive() {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                archive_results = JSON.parse(this.responseText);
            }
        };
        xmlhttp.open("GET", "/archive/index.json", true);
        xmlhttp.send();
    }
    
    function runSearch(q) {
        var results_node = document.getElementById("list_results");
        results_node.innerHTML = "";
        if (q.length > 0) {
            for (var i = 0; i < archive_results.items.length; i++) {
                var item = archive_results.items[i];
                var title_lower = item.title.toLowerCase();
                var text_lower = item.content_text.toLowerCase();
                if (title_lower.includes(q) || text_lower.includes(q)) {
                    var p_node = document.createElement("p");        
                    var link_node = document.createElement("a");
                    var d = Date.parse(item.date_published);
                    var date_s = new Date(d).toISOString().substr(0, 10);
                    var date_node = document.createTextNode(date_s); 
                    link_node.appendChild(date_node);
                    link_node.href = item.url;
                    var title_node = null;
                    if (item.title.length > 0) {
                        title_node = document.createElement("span");
                        title_node.innerHTML = ": <b>" + item.title + "</b>"
                        s = item.title + ": " + item.content_text;
                    }
                    var s = item.content_text;
                    if (s.length > 200) {
                        s = s.substr(0, 200) + "...";
                    }
                    var text_node = document.createElement("span");
                    text_node.innerHTML = ": " + s
                    p_node.appendChild(link_node);
                    if (title_node != null) {
                        p_node.appendChild(title_node);
                    }
                    p_node.appendChild(text_node);
                    results_node.appendChild(p_node);
                }
            }
        } 
    }
    
    downloadArchive();
    
    </script>