<!-- Sidebar -->
<div class="large-4 columns sidebar hide-for-small" id="right-col">
    <div id="sideNav">
    <div class="hide-for-small">
        <div class="sidebar-zone identity" id="identitySide">
            <span>
                <a href="/"><img src="{{ .Site.Author.avatar }}" class="photo" /></a>
            </span>
            <!--<a class='current' href="index.html">-->
                <!-- Photo --><!--<img src="/images/sample_photo.jpg" class="photo"> -->
                <!-- Logo --><!--<img src="/images/logo.svg" width="160" height="160" class="logo"> -->
                <!-- Text --><!--<h1>Porta Amet</h1>-->
            <!--</a>-->
        </div>
    </div>
    <div class="sidebar-zone intro hide-for-small">
        <!-- notempty:redoak_index_title -->
        <h3>{{ .Site.Title }}</h3>
        <!-- endnotempty -->
        <!-- notempty:sidebar_about -->
        <div>
            {{ .Site.Params.description | safeHTML }}
        </div>
        <!-- endnotempty -->
    </div>
    <div class="sidebar-zone search">
            <input type="search" name="searchtext" id="searchtext" placeholder="Search Posts..." class="searchtext" /><a href="#" id="searchbutton" class="searchbutton submit-button"><i class="barley-icon-circle-arrow-right"></i></a>
    </div>
    <div class="sidebar-zone nav-link-list">
        <h3>Pages</h3>
        <ul>
            <li class='current'><a class='current' href="/" title="Go to homepage">Blog</a></li>
            { range .Site.Menus.main }}
                {{ if .Page.Params.redirect_url }}
                    <li><a href="{{ .Page.Params.redirect_url }}">{{ .Name }}</a></li>
                {{ else }}
                    <li><a href="{{ .URL | relLangURL | safeURL }}">{{ .Name }}</a></li>
                {{ end }}
            {{ end }}
        </ul>
    </div>
    <div class="sidebar-zone nav-list">
        <span data-barley="redoak_sidebar_section_social" data-barley-editor="advanced">
            <h3>Find Me On</h3>
            <ul>
                {{ with .Site.Params.twitter_username }}
                    <li><a href="https://twitter.com/{{ . }}"><i class="fab fa-twitter"></i></a></li>
                {{ end }}
                {{ with .Site.Params.linkedin_username }}
                    <li><a href="https://linkedin.com/{{ . }}"><i class="fab fa-linkedin"></i></a></li>
                {{ end }}
                {{ with .Site.Params.instagram_username }}
                    <li><a href="https://instagram.com/{{ . }}"><i class="fab fa-instagram"></i></a></li>
                {{ end }}
                {{ with .Site.Params.github_username }}
                    <li><a href="https://github.com/{{ . }}"><i class="fab fa-github"></i></a></li>
                {{ end }}
                {{ with .Site.Author.username }}
                    <li><a href="https://micro.blog/{{ . }}"><i class="fab fa-microblog"></i></a></li>
                {{ end }}
            </ul>
        </span>
    </div>
</div>
</div>
<!-- end Sidebar -->