{{ define "main" }}
    {{ partial "header.html" . }}

    <div class="row wrapper">

    <!-- Start Main Page Content -->
    <section role="main">

        <!-- Top Color Strip -->
        <div class="row top-strip"></div>

        <div class="row content">
            <div class="large-8 columns main" id="left-col">
                <article>
                    <h2>Photos</h2>

                    {{ if .Site.Params.paginate_home }}
                        {{- $list := where .Pages ".Params.photos" "!=" nil -}}
                        {{- $len := (len $list) -}}
                        {{ range $index, $value := $list }}
                            <div class="photo-album-container">
                                <div class="photo-album-cover">
                                    <a href="{{ .Permalink }}">
                                        {{ range first 1 .Params.photos }}
                                            <img src="https://micro.blog/photos/480x/{{ . }}">
                                        {{ end }}
                                    </a>
                                </div>
                                <a class="photo-album-title" href="{{ .Permalink }}">{{ .Title }} <i class="material-icons">chevron_right</i></a>
                            </div>
                        {{ end }}

                            <!-- Paging -->
                            <div class="paging group">
                                <!-- previous -->
                                {{ $pag := $.Paginator }}
                                    {{ if or $pag.HasPrev $pag.HasNext }}
                                        {{ if $pag.HasPrev }}
                                            <a href="{{ $pag.Prev.URL }}" class="newer"><span title="Older Posts"><i class="material-icons">chevron_left</i></span></a>
                                        {{ end }}
                                    <!-- endprevious -->

                                    <!-- next -->
                                    {{ if $pag.HasNext }}
                                        <a href="{{ $pag.Next.URL }}" class="older"><span title="Newer Posts"><i class="material-icons">chevron_right</i></span></a>
                                    {{ end }}
                                    <!-- endnext -->
                                {{ end }}
                            </div>
                        

                        {{ else }}
                            {{- $list := where .Pages ".Params.photos" "!=" nil -}}
                            {{- $len := (len $list) -}}
                            {{ range $index, $value := $list }}
                                <div class="photo-album-container">
                                    <div class="photo-album-cover">
                                        <a href="{{ .Permalink }}">
                                            {{ range first 1 .Params.photos }}
                                                <img src="https://micro.blog/photos/480x/{{ . }}">
                                            {{ end }}
                                        </a>
                                    </div>
                                    <a class="photo-album-title" href="{{ .Permalink }}">{{ .Title }} <i class="material-icons">chevron_right</i></a>
                                </div>
                            {{ end }}
                        {{ end }}
                    
                </article>
            </div>
            
            {{ partial "sidebar.html" . }}
        </div>

        {{ partial "footer.html" . }}
    
    </section>
	<!-- End Main Page Content -->

	<!-- Mobile Nav -->
	<section role="complementary">
		<div id="sideMenu" class="sidebar show-for-small"></div>
	</section>

</div>

{{ partial "footer-scripts.html" . }}

</body>
</html>
{{ end }}